/* CSS Document */

.company-info{
/*background-color:#2980B9;*/
background-color:#3498DB;
color:#C6DEED;
}
.center-core{
/*background-color:#D35400;*/
background-color:#E67E22;
color:#FAE4D0;
}
.company-strategy{
/*background-color:#16A085;*/
background-color:#1ABC9C;
color:#FAE4D0;
}
.company-errand{
/*background-color:#3399CC;*/
background-color:#339999;
color:#EAEDED;
}
