/* CSS Document */
html,body{
background-color:#FFFFFF;
margin:0px;
padding:0px;
}
.page-header{
color:#CCCCCC;
font-weight:bold;
margin:0;
padding:0;
}
.page-header a{
color:#CCCCCC;
}
.page-header a:hover{
color:#FFFFFF;
}
.page-header span{
border-right:solid #CCCCCC 1px;
letter-spacing:1px;
padding-right:10px;
padding-left:10px;
}
.img-company{
width:140px;
height:130px;
float:left
}
.carousel-caption p{
font-size:16px;
text-indent:35px;
}
.img-alert span{
font-size:26px;
font-weight:bold;
text-indent:35px;
}
.eye-layout{
margin-top:2%;
margin-left:18%;
margin-bottom:2%;
padding-top:4%;
width:60%;
text-align:center;
}
.container-fluid{
margin-left:auto;
margin-right:auto;
max-width:1600px;
}
.img-alert{
display:none;
width:20%;
height:60%;
position:absolute;
top:8%;
filter:alpha(opacity=60); 
-moz-opacity:0.6; 
opacity:0.6;
color:#000000;
background-color:#FFFFFF;
}
.company-info-panel{
background-color:#6EC4D5;
}
.news-info-panel{
background-color:#FFA920;
}
.goods-info-panel{
background-color:#6EA166;
}
.technology-info-panel{
background-color:#26A59A;
}
.hover-panel{
cursor:pointer;
color:#FFFFFF;
}
a{cursor:pointer
color:#000000;
}
a:hover{color:#FF7E00;
text-decoration:none;
}
.page-footer{
padding-left:25%;
padding-top:5%;
padding-bottom:3%;
text-align:center;
}
.page-footer li{
list-style-type:none;
margin-bottom:5%;
}
.panel-fount p{
font-size:16px;
text-indent:35px;
}

#editor {overflow:scroll; max-height:300px}